.arrow {
  margin-left: 12px;
  opacity: 1;
}

.button {
  text-transform: uppercase;
  background: transparent;
  border: none;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
  font-size: 13px;
  font-family: inherit;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  padding: 12px;
  transition: all 0.2s ease-in-out;
}

.buttonBack {
  background: transparent;
  border: none;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
  font-size: 13px;
  font-family: inherit;
}

.button:hover {
  color: #d87d4a;
  cursor: pointer;
  opacity: 1;
}
