.mainHeader {
  background-color: #191919;
}

.mainHeaderText {
  border-bottom: 1px solid rgba(151, 151, 151, 0.2);
  padding: 28px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburgerBtn,
.cartBtn {
  background: none;
  border: none;
}
